h1 {
    color: red;
}

p {
    color: blue;
}

h2 {
    color: green;
    text-align: center;
    font-size: 50px;
}

/* Classes e Ids */

.p-texto {
    color: lightgreen
}

#titulo-app {
    color: purple;
    font-size: 40px;
}